<!--<div class="am-storeCnt am-g" ng-repeat = "detail in o.order_details track by $index" >-->
	<!--<span>{{o.order_details.length}}</span>-->
	<!--<div ng-if="!detail.subitems.length" class="proLi-goodsImg"><img ng-src="{{serviceAddress+detail.product_img}}" class="am-img-responsive" alt="图片"/>-->
	<!--</div>-->
	<!--<div class="proLi-goodsDetails" ng-if="!detail.subitems.length">-->
		<!--<div class="proLi-details">{{detail.product.detail}}{{detail.product_name}}</div>-->
		<!--<div class="proLi-value">-->
			<!--<div class="proLi-goodsValue">￥{{detail.product_price}}</div>-->
			<!--<div class="am-btn-group am-btn-group-xs proLi-goodsNum">-->
				<!--<span>数量</span>-->
				<!--<span>{{detail.amount}}</span>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	<!--<div  ng-if="detail.subitems.length">-->

		<!--<table class="am-table group-buy-table">-->
		<!--<tbody>-->
			<!--<tr>-->
				<!--<td>{{detail.product.name}}</td>-->
				<!--<td>￥{{detail.product_price}} </td>-->
				<!--<td>x{{detail.amount}}</td>-->
			<!--</tr>-->
			<!--<tr ng-repeat = "plan in detail.subitems track by $index">-->
			<!--<td>{{plan.product.name}}  </td>-->
			<!--<td>￥{{plan.product_price}} </td>-->
			<!--<td>x{{plan.amount}}</td>-->
			<!--</tr>-->

		<!--</tbody>-->
		<!--</table>-->
	<!--{{p.price.real_price}}-->
	<!--</div>-->
<!--</div>-->


<!--<div class="ord-totalThing ">-->
	<!--<span class = "am-btn proLi-toBuyBtn" ng-click = "gotoOrderDet(o)">查看订单状态</span>-->
	<!--<span>共{{o.order_details.length}}件商品&nbsp;&nbsp;总计：{{o.total_price}}</span>-->
<!--</div>-->

<li>
	<!--多个商品 start-->
	<div class="n">
		<!--列表标题-->
		<div data-am-widget="list_news" class="am-list-news am-list-news-default head" >
			<div class="am-list-news-hd am-cf">
				<h2><span class="am-icon-shopping-bag am-fl"></span>生鲜小镇</h2>
				<span class="am-icon-trash-o am-fr"></span>
				<!--<span class="am-fr qx">已取消</span>-->
			</div>
		</div>

		<!--详情多个-->
		<div class="am-u-sm-12 list">
			<ul class="am-u-sm-12">
				<li class="am-u-sm-3" ng-repeat = "detail in o.order_details track by $index">
					<a ng-click = "gotoOrderDet(o)">
						<img ng-src="{{serviceAddress+detail.product_img}}" alt="" class="am-img-responsive"  height="450" width="525">
					</a>
				</li>
			</ul>
		</div>

		<!--款项-->
		<div class="am-u-sm-12 money">
			<div class="am-fr">
				<span class="am-fr moneyCount">&yen{{o.total_price}}</span>
				<div class="am-fr mr-5">
					实付款:
				</div>
				<div class="am-fr mr-5">
					共<span>{{o.order_details.length}}</span>件商品&nbsp;&nbsp;
				</div>
			</div>
		</div>
		<hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
		<!--&lt;!&ndash;再次购买&ndash;&gt;-->
		<!--<div class="am-u-sm-12 zaici">-->
			<!--<a class="am-fr am-btn gm" href="#" target="_blank">再次购买</a>-->
		<!--</div>-->
	</div>
	<!--多个商品 end-->
</li>